@use '../../Theme/variables' as v;

// .bg {
//   @include v.theme() {
//     background-color: v.theme-get('bg-color');
//   }
// }

.Dashboard-container {
  position: relative;
  top: 5%;

  .Posts-container {
    margin-top: 1vh;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 10vw;
    height: 10vh;
    margin: 50%;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

      @include v.theme() {
        border: 8px solid v.theme-get('tertiary');
        border-color: v.theme-get('tertiary') transparent transparent
          transparent;
      }
    }
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
