@use '../../Theme/variables' as v;

.FilterModal-container {
  .Filter-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
      filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 5vw;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 1vh 1vw 1vh;
    background-color: transparent;
    height: 1vh;
    &:hover {
      @include v.theme() {
        color: v.theme-get('primary');
        background-color: v.theme-get('tertiary');
      }
    }

    @include v.theme() {
      color: v.theme-get('tertiary');
      box-shadow: inset 0 0 0 2px v.theme-get('secondary') 0px 1vw 4vw 0px;
    }
  }
}
