@use '../../Theme/variables' as v;

.Post-container {
  width: 96vw;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // word-wrap: break-word;
  overflow: hidden;
  padding: 2%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
  @include v.theme() {
    background-color: v.theme-get('primary');
    color: v.theme-get('tertiary');
    box-shadow: v.theme-get('shadow') 0px 1vw 4vw 0px;
  }

  // if we are not on mobile⬇
  @media screen and (min-width: v.$mobile-width) {
    position: relative;
    margin: auto auto auto auto;
  }
}
