@use '../../Theme/variables' as v;

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  // color: #03e9f4;
  color: #ff6600;
  font-size: 12px;
}

.signup-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  // color: #03e9f4;
  color: #ff6600;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: rgb(53, 53, 53);
}

.signup-box button:hover {
  // background: #03e9f4;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  // box-shadow: 0 0 3px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #03e9f4,
  //   0 0 35px #03e9f4;
  box-shadow: 0 0 3px #ff6600, 0 0 10px #ff6600, 0 0 10px #ff6600,
    0 0 35px #ff6600;
}

// THIS IS THE SPIRAL BUTTON ANIMATION
// .signup-box a span {
//   position: absolute;
//   display: block;
// }

.signup-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  // background: linear-gradient(90deg, transparent, #03e9f4);
  background: linear-gradient(90deg, transparent, #ff6600);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.signup-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  // background: linear-gradient(180deg, transparent, #03e9f4);
  background: linear-gradient(180deg, transparent, #ff6600);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.signup-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  // background: linear-gradient(270deg, transparent, #03e9f4);
  background: linear-gradient(270deg, transparent, #ff6600);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.signup-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  // background: linear-gradient(360deg, transparent, #03e9f4);
  background: linear-gradient(360deg, transparent, #ff6600);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.question {
  display: flex;
  margin-top: 40% !important;
  color: #fff !important;
  justify-content: center !important;

  @include v.theme() {
    // background-color: v.theme-get('bg-color');
    color: v.theme-get('text-color') !important;
  }
}

.signupform-create-account {
  // display: flex !important;
  // justify-content: center !important;
  // margin: 0 0 30px;
  margin-top: 6% !important;
  margin-left: 13% !important;
}

.signupform-login {
  display: flex !important;
  margin-top: 3% !important;
  margin-left: 35% !important;
  color: #fff !important;
  width: 30% !important;
  height: 2rem !important;
  justify-content: center !important;
  // margin-left: 33% !important;
  align-items: center;
}

.signupform-login:hover {
  color: #fff !important;
  border-radius: 3px !important;
  box-shadow: 0 0 3px #636363, 0 0 10px #636363, 0 0 10px #636363,
    0 0 35px #636363 !important;
}
