@use '../../Theme/variables' as v;

.NavBar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
  z-index: 20;

  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    li {
      margin-right: 2vw;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;

      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }

      @include v.theme() {
        color: v.theme-get('tertiary');
      }
    }
    .home {
      position: fixed;
      left: 1vw;
    }

    .theme-toggle {
      position: fixed;
      right: 15vw;
    }

    .logout {
      position: fixed;
      right: 1vw;
    }

    @include v.theme() {
      background: v.theme-get('secondary');
      border-color: v.theme-get('secondary');
    }
  }

  @media screen and (max-width: 500px) {
    ul {
      flex-direction: column;
      height: auto;
    }
    li:nth-child(0) {
      margin-top: 50px;
      @include v.theme() {
        border-top: 1px solid v.theme-get('tertiary');
      }
    }
    li {
      width: 100%;
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
      @include v.theme() {
        border-top: 1px solid v.theme-get('tertiary');
      }
    }
  }

  @include v.theme() {
    color: v.theme-get('primary');
  }
}
